#onehundred {
	clear: both;
	padding: 2% 5% 8% 5%;

	#connections {
		max-height: 100vh;
		max-width: 400px;
	}

	.light-unit {
		cursor: pointer;
		transition: all .1s;
		fill: @preto;
		// stroke: fade(@preto, 50%);
		// stroke-width: 1;
		&.active {
			cursor: default;
			fill: @vermelho;
		}
	}

	.cnx {
		transition: all .1s;
		stroke: fade(@preto, 30%);
		stroke-width: 1;
		&.active {
			stroke: fade(@vermelho, 50%);
		}		
	}
}

.stats {
	padding-top: 1em;
}

.clear {
	clear: both;
}